[Desktop Entry]
Comment=fabFORCE DBDesigner 4
Exec=/home/mike/../mike/DBDesigner4/startdbd
Icon=/home/mike/../mike/DBDesigner4/Gfx/Icon48.xpm
Name=DBDesigner4
Type=Application
